# .env.sample - Sample Environment Variables for Frontend (Vite)

# Backend API URL (call it in React with import.meta.env.VITE_BACKEND_URL)
VITE_BACKEND_URL=http://localhost:3310
VITE_STRIPE=pk_test_51P9SrOLQrpvoRLpP2aThbSIiCND8o4fuKnRIU8jX3ZeW2m4ot12rIndbm2htszh90bNWeN0LWGnQoQx8sNbzDjT600Emkh8twv
VITE_FRONTEND_URL=http://localhost:3000
VITE_OFFER_BASIC_STRIPE=price_1Pv0vILQrpvoRLpPrmnRoIDb
VITE_OFFER_PREMIUM_STRIPE=price_1P9TPSLQrpvoRLpPLMkYmofD
# Other Environment Variables (if needed)
# VITE_OTHER_VARIABLE=value
